<div class="row">
                    <div class="col-md-4 mt-4">
                        <h3 class="h4 fw-bold mb-3">WHO WE WORK WITH</h3>
                        <ul class="list-unstyled">
                            <li class="mb-2"><i class="fas fa-check me-2"></i>Families and Friends</li>
                            <li class="mb-2"><i class="fas fa-check me-2"></i>Academic Institutions</li>
                            <li class="mb-2"><i class="fas fa-check me-2"></i>Corporate Groups</li>
                            <li class="mb-2"><i class="fas fa-check me-2"></i>Cultural Organizations</li>
                        </ul>
                    </div>
                    <div class="col-md-8 mt-4">
                        <h3 class="h4 fw-bold mb-3">WHO WE ARE</h3>
                        <p class="lead mb-3">{{ company_info.mission }}</p>
                        <p class="mb-0">{{ company_info.legal_status }}</p>
                    </div>
                </div>